
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  h1 {
    font-size: 2.5em; // Large font for the main heading
    margin-bottom: 5px;
    
  }
  hr{

    width: 60px;
  
    border: 3px solid #23a6f0;
    border-radius: 1px;
  }
}
.about-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex; 

  .tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right:40px ;

    .tab {
      font-size: 18px;
      font-weight: 700;
      background-color: #fff;
      color: #333; 
      border: none;
      padding: 10px 60px;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }
    .tab:hover {
      
      color: white;
      background-color: #addeff;
    }
    
    .tab.active{
      border-left:5px solid #23a6f0 ;
      color: #23a6f0;
      background-color: #f3faff;

    }
  }

  .tab-content {
    display: flex;
    align-items: flex-start;
    border: none;
    
    .container {
     
      h2 {
        font-size: 1.5em; 
        margin-bottom: 10px;
      }
      p {
        color: #333; 
        line-height: 1.6; 
      }
    }
  }
}

.divim{
  display: flex;
  flex-direction: column;
  gap: 10px;
  .tittle{
    font-size: 35px;
    margin: 0;
  }
  .date{
    font-size: 18px;
    opacity: .6;
  }
  .name{
    background-color: #ccc;
    width: 70px;
    font-size: 15px;
    font-weight: 600;
    padding: 3px 12px;
    display: flex;
    justify-content: center;
    color: rgb(101, 104, 122);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .btn{
    padding: 5px 12px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    width: 190px;
    position: fixed;
    bottom: 20%;
  }
}
  